@charset "UTF-8";

*{
    box-sizing: border-box;
}

.custom-card {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.song-list {
    max-height: 300px;
    overflow-y: atuo;
}
.song-list th, .song-list td {
    text-align: center;
    vertical-align: middle; /* 수직 가운데 */
}
.song-list .btn{
    margin-left: 10px;
}
.content-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
}
.djTitleImg{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    /*가운데 배치하고 싶은데.. */
    margin-top: 20px;
    margin-left: 70px;
}

table {
    height: 500px;
}


/*
Grid 참고 사이트 
https://studiomeal.com/archives/533
*/