@charset "UTF-8";

table {
    border-collapse: collapse;
}

th, td{
    padding: 5px;
}

#songUploadForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px auto;
	text-align: left;
	width: 80%;
}

#songUploadForm div {
    color: red;
    font-size: 8pt;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
}

input[type="file"] {
    visibility: hidden;
}

img {
    cursor: pointer;
}